Repository UnBArqDsw/2020.1_G12_Stock, pull requests merged in 2020-11, with the labels that each got.

#184 Template do Estudo Dirigido sobre Arq e Reutilização
  docs/Architecture/EstudoDirigido/EstudoDirigido.md
  docs/Architecture/EstudoDirigido/parte1.md
  docs/Architecture/EstudoDirigido/parte2.md
  docs/Architecture/EstudoDirigido/parte3.md
  docs/Architecture/EstudoDirigido/parte4.md
  docs/Architecture/EstudoDirigido/reutilizacao.md
  docs/Index/architectureIndex.md
  docs/_sidebar.md
Labels: Arquitetura e DAS, Estudo, documentation

#191 180 Estudo Parte 2
  README.md
  docs/Architecture/EstudoDirigido/parte1.md
  docs/Architecture/EstudoDirigido/parte2.md
Labels: Arquitetura e DAS, Estudo

#202 182 reutilizacao
  docs/Architecture/EstudoDirigido/reutilizacao.md
  docs/_sidebar.md
Labels: Arquitetura e DAS, Estudo

#203 193 reuniao semanal
  README.md
  docs/Index/sprintsIndex.md
  docs/README.md
  docs/Sprints/planning/sprint11.md
  docs/Sprints/results/sprint10.md
  docs/Sprints/results/sprint11.md
  docs/assets/img/Sprints/metricas/burndownS10.png
  docs/assets/img/Sprints/metricas/quadroS10.png
  docs/assets/img/Sprints/metricas/velocityS10.jpg
  docs/assets/img/members/Gabriel.jpg
Labels: Sprint 11, documentation

#213 204 reuniao semanal
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint11.md
  docs/Sprints/planning/sprint12.md
  docs/Sprints/results/sprint11.md
  docs/Sprints/results/sprint12.md
  docs/assets/img/Sprints/metricas/burndownS11.png
  docs/assets/img/Sprints/metricas/quadroS11.png
  docs/assets/img/Sprints/metricas/velocityS11.png
Labels: documentation

#212 Add architecture study part 3
  docs/Architecture/EstudoDirigido/parte3.md
Labels: Arquitetura e DAS, Estudo, documentation

#216 200 DAS
  docs/Architecture/das.md
  docs/Architecture/reutilizacao.md
  docs/Index/architectureIndex.md
  docs/Modeling/Diagrams/Classes.md
  docs/Modeling/Diagrams/Implementacao.md
  docs/README.md
  docs/_sidebar.md
  docs/assets/diagramas/Diagrama_de_Implementacao.png
  docs/assets/diagramas/casosUso/DiagramaCasoGeral.png
  docs/assets/diagramas/classe/DiagramaClassesV4.png
  docs/assets/diagramas/contexto/DiagramaContexto.pdf
  docs/assets/diagramas/contexto/DiagramaContexto.png
  docs/assets/pdf/diagramas/casosUso/DiagramaCasoGeral.pdf
  docs/assets/pdf/diagramas/classe/DiagramaClassesV4.pdf
  docs/assets/pdf/diagramas/implementacao/Diagrama_de_Implementacao.pdf
Labels: Arquitetura e DAS, Sprint 12

#215 201 - reutilizacao
  docs/Architecture/Reutilizacao/backend.md
  docs/Architecture/Reutilizacao/docker.md
  docs/Architecture/Reutilizacao/frontend.md
  docs/Architecture/Reutilizacao/socket.md
  docs/Index/architectureIndex.md
  docs/_sidebar.md
  docs/assets/architecture/backend/canal-back.png
  docs/assets/architecture/backend/configuracao-socket.png
  docs/assets/architecture/backend/pastas.png
  docs/assets/architecture/backend/send-message.png
  docs/assets/architecture/backend/sendMessage.png
  docs/assets/architecture/docker/dockerConjunto.png
  docs/assets/architecture/docker/dockercompose.png
  docs/assets/architecture/docker/dockerfile.png
  docs/assets/architecture/frontend/JSX.png
  docs/assets/architecture/frontend/canal-front.png
  docs/assets/architecture/frontend/component.png
  docs/assets/architecture/frontend/conexão-socket-front.png
  docs/assets/architecture/frontend/config-web-socket.png
  docs/assets/architecture/frontend/reactstrap.png
  docs/assets/architecture/frontend/sendMessage-front.png
  docs/assets/architecture/frontend/subcribe.png
  docs/assets/architecture/frontend/subscribeUso.png
  docs/assets/architecture/frontend/useContext.png
  docs/assets/architecture/frontend/useEffect.png
  docs/assets/architecture/frontend/useState.png
Labels: Arquitetura e DAS, Sprint 12, documentation

#218 Add results sprint 12
  docs/Sprints/planning/sprint12.md
  docs/Sprints/results/sprint12.md
  docs/assets/img/Sprints/metricas/burndownS12.png
  docs/assets/img/Sprints/metricas/quadroS12.png
  docs/assets/img/Sprints/metricas/velocityS12.png
  docs/assets/time.jpeg
Labels: Sprint 12, documentation
