Repository UnBArqDsw/2020.1_G12_Stock, pull requests merged in 2020-09, with the labels that each got.

#21 Mapa mental
  docs/Elicitation/MapaMental.md
  docs/Index/baseIndex.md
  docs/Index/modelingIndex.md
  docs/Index/projectIndex.md
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint1.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/_navbar.md
  docs/_sidebar.md
  docs/assets/mapaMental/mapaMentalGabrielAlves.png
  docs/assets/mapaMental/mapaMentalGabrielDavi.png
  docs/assets/mapaMental/mapaMentalMicaella.jpg
  docs/assets/mapaMental/mapaMentalPedroIgor.png
  docs/assets/mapaMental/mapaMentalSofia.png
  docs/preTraceability/MapaMental.md
Labels: documentation

#25 Templates
  .github/ISSUE_TEMPLATE/issue-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  docs/Index/modelingIndex.md
  docs/Index/projectIndex.md
  docs/Index/sprintsIndex.md
  docs/_sidebar.md
  docs/preTraceability/5W2H.md
  docs/product/ManualId.md
Labels: enhancement

#30 Plano de Análise de Riscos
  docs/Index/baseIndex.md
  docs/_sidebar.md
  docs/assets/img/riscos/fluxoAnaliseRiscos.png
  docs/preTraceability/DesignSprint.md
  docs/preTraceability/PlanAnaliseRiscos.md
Labels: documentation

#43 Reunião Semanal Sprint 2
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint1.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/Sprints/results/sprint2.md
Labels: documentation

#50 40 requisitos
  docs/Elicitation/Brainstorming.md
  docs/Elicitation/Entrevista.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Index/baseIndex.md
  docs/_sidebar.md
Labels: documentation

#51 29 design sprint
  docs/DesignSprint/DesignSprint.md
  docs/DesignSprint/dia1.md
  docs/DesignSprint/dia2.md
  docs/DesignSprint/dia3.md
  docs/DesignSprint/dia4.md
  docs/DesignSprint/dia5.md
  docs/Elicitation/Questionario.md
  docs/Index/baseIndex.md
  docs/Project/Evaluation.md
  docs/_sidebar.md
  docs/assets/css/home.css
  docs/assets/designSprint/causa_efeito/Doc_Gabriel_Alves.jpg
  docs/assets/designSprint/causa_efeito/Doc_Gabriel_Davi.jpg
  docs/assets/designSprint/causa_efeito/Doc_Micaella.jpg
  docs/assets/designSprint/causa_efeito/Doc_Pedro.jpg
  docs/assets/designSprint/causa_efeito/Doc_Sofia.jpg
  docs/assets/designSprint/doc_visão/Davi.jpg
  docs/assets/designSprint/doc_visão/Gabriel.jpg
  docs/assets/designSprint/doc_visão/Micaella.jpg
  docs/assets/designSprint/doc_visão/Pedro_Igor.png
  docs/assets/designSprint/doc_visão/Sofia.jpg
  docs/assets/designSprint/estimativas/estimativasGabrielAlves.png
  docs/assets/designSprint/estimativas/estimativasGabrielDavi.png
  docs/assets/designSprint/estimativas/estimativasIgor.png
  docs/assets/designSprint/estimativas/estimativasMicaella.png
  docs/assets/designSprint/estimativas/evaluationSofia.png
  docs/assets/designSprint/estimativas/levantamentoFinal.png
  docs/assets/designSprint/questionario/brainstorming_questionario.png
  docs/assets/designSprint/questionario/questionario_gabrielalves.jpg
  docs/assets/designSprint/questionario/questionario_gabrieldavi.jpg
  docs/assets/designSprint/questionario/questionario_micaella.jpg
  docs/assets/designSprint/questionario/questionario_pedroigor.jpg
  docs/assets/designSprint/questionario/questionario_sofia.jpg
  docs/assets/designSprint/riscos/riscosGabrielAlves.png
  docs/assets/designSprint/riscos/riscosGabrielDavi.png
  docs/assets/designSprint/riscos/riscosMicaella.png
  docs/assets/designSprint/riscos/riscosPedro.png
  docs/assets/designSprint/riscos/riscosSofia.png
  docs/preTraceability/DesignSprint.md
  docs/preTraceability/PlanAnaliseRiscos.md
  docs/preTraceability/causaEfeito.md
  docs/product/DocVisão.md
Labels: Design Sprint, documentation

#48 42 reuniao sprints
  docs/Index/sprintsIndex.md
  docs/Sprints/metodologia.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint1.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/results/sprint0.md
  docs/Sprints/results/sprint1.md
  docs/assets/img/Sprints/googlecalendar.png
  docs/assets/img/Sprints/metricas/burndownS1.png
  docs/assets/img/Sprints/reuniaoDesignSprint.png
Labels: Sprint 2, documentation

#47 36 Metodologia - documentacao
  docs/Project/Metodologias.md
  docs/assets/img/metodologia/ferramentas.png
Labels: Sprint 2, documentation

#53 39 introspeccao personas
  docs/Elicitation/Introspeccao.md
  docs/Elicitation/Personas.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Index/baseIndex.md
  docs/_sidebar.md
  docs/assets/img/personas/persona1.png
  docs/assets/img/personas/persona2.png
Labels: Elicitação, Sprint 2, documentation

#56 Dimensão da imagem no mobile e hover na imagem dos participantes
  docs/README.md
Labels: bug, documentation

#60 Adds records
  docs/DesignSprint/DesignSprint.md
  docs/DesignSprint/dia1.md
  docs/DesignSprint/dia2.md
  docs/DesignSprint/dia3.md
  docs/DesignSprint/dia4.md
  docs/DesignSprint/dia5.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint2.md
Labels: Sprint 2

#78 67 bugs
  README.md
  docs/Elicitation/Brainstorming.md
  docs/Elicitation/Entrevista.md
  docs/Elicitation/Entrevistas/entrevista1.md
  docs/Elicitation/Entrevistas/entrevista2.md
  docs/Elicitation/Entrevistas/entrevista3.md
  docs/Elicitation/Introspeccao.md
  docs/Elicitation/Personas.md
  docs/Elicitation/Questionario.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Modeling/estado.md
  docs/Modeling/objeto.md
  docs/Modeling/verbo.md
  docs/Product/DocVisão.md
  docs/Project/Evaluation.md
  docs/Project/Metodologias.md
  docs/README.md
  docs/assets/css/home.css
  docs/preTraceability/5W2H.md
  docs/preTraceability/Argumentacao.md
  docs/preTraceability/PlanAnaliseRiscos.md
  docs/preTraceability/RichPicture.md
  docs/preTraceability/causaEfeito.md
Labels: bug

#77 69 Reunião Semanal Planning S3
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/results/sprint2.md
  docs/Sprints/results/sprint3.md
Labels: Sprint 3, documentation

#84 74 prototipo media
  docs/DesignSprint/dia1.md
  docs/DesignSprint/dia2.md
  docs/DesignSprint/dia3.md
  docs/DesignSprint/dia4.md
  docs/Elicitation/Brainstorming.md
  docs/Elicitation/Entrevistas/entrevista4.md
  docs/Elicitation/Entrevistas/entrevista5.md
  docs/Elicitation/Introspeccao.md
  docs/Elicitation/Questionario.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Modeling/estado.md
  docs/Modeling/objeto.md
  docs/Modeling/verbo.md
  docs/Product/DocVisão.md
  docs/Product/PlanejamentoAvaliacao.md
  docs/Product/PrototipoAlta.md
  docs/Product/PrototipoBaixa.md
  docs/Product/PrototipoMedia.md
  docs/Product/Prototipos.md
  docs/Project/Metodologias.md
  docs/README.md
  docs/_sidebar.md
  docs/assets/css/home.css
  docs/assets/prototipos/baixaFidelidade/prototipoBaixaGabrielAlves.jpg
  docs/assets/prototipos/baixaFidelidade/prototipoBaixaGabrielDavi.jpg
  docs/assets/prototipos/baixaFidelidade/prototipoBaixaMicaella.jpg
  docs/assets/prototipos/baixaFidelidade/prototipoBaixaPedroIgor.jpg
  docs/assets/prototipos/baixaFidelidade/prototipoBaixaSofia.jpg
  docs/preTraceability/5W2H.md
  docs/preTraceability/Argumentacao.md
  docs/preTraceability/PlanAnaliseRiscos.md
Labels: documentation

#98 85 Reunião Sprint 4
  docs/Index/projectIndex.md
  docs/Index/sprintsIndex.md
  docs/Product/PrototipoBaixa.md
  docs/Project/Omnistock.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/planning/sprint4.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/_sidebar.md
  docs/assets/img/Sprints/heatmapSprint3.png
  docs/assets/img/Sprints/heatmapSprint4.png
  docs/assets/img/Sprints/metricas/burndownS3.png
  docs/assets/img/Sprints/metricas/velocityS3.png
Labels: Sprint 4, documentation

#99 74 prototipo media
  docs/Product/PlanejamentoAvaliacao.md
  docs/Product/PrototipoMedia.md
Labels: documentation

#100 88 Classes e Componentes
  docs/Index/modelingIndex.md
  docs/Modeling/Diagrams/Classes.md
  docs/Modeling/Diagrams/Componentes.md
  docs/Modeling/Diagrams/Diagrams.md
  docs/Modeling/Diagrams/dias/dia1.md
  docs/Modeling/Diagrams/dias/dia2.md
  docs/Modeling/Diagrams/dias/dia3.md
  docs/Modeling/Diagrams/dias/dia4.md
  docs/Project/Omnistock.md
  docs/Sprints/planning/sprint4.md
  docs/_sidebar.md
  docs/assets/diagramas/DiagramaClasses.png
  docs/assets/diagramas/DiagramaComponentes.png
  docs/assets/diagramas/diagramasDia1Classe.png
  docs/assets/diagramas/diagramasDia1Componente.png
  docs/assets/pdf/diagramas/DiagramaClasses.pdf
  docs/assets/pdf/diagramas/DiagramaComponentes.pdf
Labels: Modelagem, Sprint 4, documentation

#103 90 diagrama estados atividades
  docs/Index/modelingIndex.md
  docs/Modeling/Diagrams/Atividades.md
  docs/Modeling/Diagrams/Estado.md
  docs/Modeling/Diagrams/dias/dia3.md
  docs/_sidebar.md
  docs/assets/audios/diagramas/atividades/Atividades_addColaborador.m4a
  docs/assets/audios/diagramas/atividades/atividades_addProduto.m4a
  docs/assets/audios/diagramas/atividades/atividades_autenticacao.m4a
  docs/assets/audios/diagramas/atividades/atividades_buscarProdutos.m4a
  docs/assets/audios/diagramas/atividades/atividades_feedback.m4a
  docs/assets/audios/diagramas/atividades/atividades_prazoValidade.m4a
  docs/assets/audios/diagramas/estado/estado_autenticacao.m4a
  docs/assets/audios/diagramas/estado/estado_prazo.m4a
  docs/assets/audios/diagramas/estado/estado_produto.m4a
  docs/assets/diagramas/atividade/Diagrama_atividade_PrazoValidade.png
  docs/assets/diagramas/atividade/Diagrama_atividade_addColaboradores.png
  docs/assets/diagramas/atividade/Diagrama_atividade_addProduto.png
  docs/assets/diagramas/atividade/Diagrama_atividade_autenticacao.png
  docs/assets/diagramas/atividade/Diagrama_atividade_consultarProduto.png
  docs/assets/diagramas/atividade/Diagrama_atividade_feedback.png
  docs/assets/diagramas/estado/Diagrama_estado_autenticacao.png
  docs/assets/diagramas/estado/Diagrama_estado_autenticacao1.png
  docs/assets/diagramas/estado/Diagrama_estado_produtoVencido.png
  docs/assets/diagramas/estado/Diagrama_estado_produtos.png
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_addColaborador.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_addProduto.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_autenticacao.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_consultarProduto.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_feedback.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_prazoValidade.pdf
  docs/assets/pdf/diagramas/estado/Diagrama_estado_autenticacao.pdf
  docs/assets/pdf/diagramas/estado/Diagrama_estado_produto.pdf
  docs/assets/pdf/diagramas/estado/Diagrama_estado_produtoVencido.pdf
Labels: Sprint 4, documentation

#106 94 prototipo alta
  docs/DesignSprint/DesignSprint.md
  docs/DesignSprint/dia1.md
  docs/DesignSprint/dia2.md
  docs/DesignSprint/dia3.md
  docs/DesignSprint/dia4.md
  docs/DesignSprint/dia5.md
  docs/Elicitation/Questionario.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Modeling/Diagrams/Classes.md
  docs/Modeling/Diagrams/Componentes.md
  docs/Modeling/Diagrams/Pacotes.md
  docs/Modeling/Diagrams/dias/dia1.md
  docs/Modeling/Diagrams/dias/dia2.md
  docs/Modeling/Diagrams/dias/dia3.md
  docs/Modeling/MOSCOW.md
  docs/Modeling/estado.md
  docs/Modeling/objeto.md
  docs/Product/DocVisão.md
  docs/Product/PlanejamentoAvaliacao.md
  docs/Product/PrototipoAlta.md
  docs/Product/PrototipoBaixa.md
  docs/Product/PrototipoMedia.md
  docs/Product/Prototipos.md
  docs/Project/Omnistock.md
  docs/Sprints/planning/sprint0.md
  docs/Sprints/planning/sprint2.md
  docs/Sprints/planning/sprint3.md
  docs/Sprints/planning/sprint4.md
  docs/_sidebar.md
  docs/assets/audios/diagramas/DiagramaClasse.m4a
  docs/assets/audios/diagramas/DiagramaComponentes.m4a
  docs/assets/diagramas/DiagramaClassesV0.png
  docs/assets/diagramas/DiagramaClassesV1.png
  docs/assets/diagramas/DiagramaComponentesV0.png
  docs/assets/diagramas/DiagramaComponentesV1.png
  docs/assets/pdf/diagramas/DiagramaClassesV0.pdf
  docs/assets/pdf/diagramas/DiagramaClassesV1.pdf
  docs/assets/pdf/diagramas/DiagramaComponentesV0.pdf
  docs/assets/pdf/diagramas/DiagramaComponentesV1.pdf
  docs/preTraceability/PlanAnaliseRiscos.md
Labels: Sprint 4, documentation

#107 102 bugs
  docs/DesignSprint/dia3.md
  docs/Modeling/Diagrams/EntidadeRelacionamento.md
  docs/Modeling/Diagrams/Pacotes.md
  docs/Project/Omnistock.md
  docs/Sprints/planning/sprint4.md
  docs/assets/audios/diagramas/comunicacao/IncreaseProduct.m4a
  docs/assets/pdf/diagramas/bancoDados/Diagrama_Entidade_Relacionamento.pdf
  docs/assets/pdf/diagramas/bancoDados/Diagrama_Logico.pdf
  docs/assets/pdf/diagramas/pacotes/Diagrama_de_Pacotes.pdf
Labels: Sprint 4, bug

#109 105 resultado s4
  docs/Sprints/planning/sprint4.md
  docs/Sprints/results/sprint3.md
  docs/Sprints/results/sprint4.md
  docs/assets/img/Sprints/metricas/burndownS4.png
  docs/assets/img/Sprints/metricas/quadroS3.png
  docs/assets/img/Sprints/metricas/quadroS4.png
  docs/assets/img/Sprints/metricas/velocityS4.png
Labels: Sprint 4, documentation

#120 Planning Sprint 5
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/results/sprint5.md
  docs/assets/img/Sprints/googlecalendarPadroes.png
  docs/assets/img/Sprints/metricas/quadroS3.png
  docs/assets/img/Sprints/metricas/quadroS4.png
Labels: Sprint 5, documentation
