Repository UnBArqDsw/2020.1_G12_Stock, pull requests merged in 2020-10, with the labels that each got.

#125 #114 GoF Criacional
  docs/Project/Estudos/criacional.md
  docs/assets/img/estudo/gof-criacional/abstractFactory.png
  docs/assets/img/estudo/gof-criacional/factoryMethod.png
Labels: Estudo, Padrões de Projeto, Sprint 5

#124 93 casos de uso
  docs/Elicitation/Entrevistas/entrevista1.md
  docs/Elicitation/Entrevistas/entrevista2.md
  docs/Elicitation/RequisitosElicitados.md
  docs/Elicitation/StoryBoard.md
  docs/Index/modelingIndex.md
  docs/Modeling/CasosUso/CasosUso.md
  docs/Modeling/CasosUso/casos/caso1.md
  docs/Modeling/CasosUso/casos/caso10.md
  docs/Modeling/CasosUso/casos/caso11.md
  docs/Modeling/CasosUso/casos/caso12.md
  docs/Modeling/CasosUso/casos/caso2.md
  docs/Modeling/CasosUso/casos/caso3.md
  docs/Modeling/CasosUso/casos/caso4.md
  docs/Modeling/CasosUso/casos/caso5.md
  docs/Modeling/CasosUso/casos/caso6.md
  docs/Modeling/CasosUso/casos/caso7.md
  docs/Modeling/CasosUso/casos/caso8.md
  docs/Modeling/CasosUso/casos/caso9.md
  docs/Modeling/MOSCOW.md
  docs/Project/Estudos/estrutural1.md
  docs/_sidebar.md
  docs/assets/diagramas/casosUso/caso1.png
  docs/assets/diagramas/casosUso/caso10.png
  docs/assets/diagramas/casosUso/caso11.png
  docs/assets/diagramas/casosUso/caso12.png
  docs/assets/diagramas/casosUso/caso2.png
  docs/assets/diagramas/casosUso/caso3.png
  docs/assets/diagramas/casosUso/caso4.png
  docs/assets/diagramas/casosUso/caso5.png
  docs/assets/diagramas/casosUso/caso6.png
  docs/assets/diagramas/casosUso/caso7.png
  docs/assets/diagramas/casosUso/caso8.png
  docs/assets/diagramas/casosUso/caso9.png
  docs/assets/pdf/diagramas/casosUso/caso1.pdf
  docs/assets/pdf/diagramas/casosUso/caso10.pdf
  docs/assets/pdf/diagramas/casosUso/caso11.pdf
  docs/assets/pdf/diagramas/casosUso/caso12.pdf
  docs/assets/pdf/diagramas/casosUso/caso2.pdf
  docs/assets/pdf/diagramas/casosUso/caso3.pdf
  docs/assets/pdf/diagramas/casosUso/caso4.pdf
  docs/assets/pdf/diagramas/casosUso/caso5.pdf
  docs/assets/pdf/diagramas/casosUso/caso6.pdf
  docs/assets/pdf/diagramas/casosUso/caso7.pdf
  docs/assets/pdf/diagramas/casosUso/caso8.pdf
  docs/assets/pdf/diagramas/casosUso/caso9.pdf
Labels: Modelagem, Sprint 5

#137 113 grasp
  docs/Project/Estudos/GRASP.md
Labels: Sprint 5, documentation

#139 Reunião Sprint 6
  docs/Index/projectPatternsIndex.md
  docs/Index/sprintsIndex.md
  docs/Project/EstudoDirigido.md
  docs/Sprints/planning/sprint5.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/results/sprint5.md
  docs/Sprints/results/sprint6.md
  docs/assets/img/Sprints/metricas/burndownS5.png
  docs/assets/img/Sprints/metricas/quadroS5.png
  docs/assets/img/Sprints/metricas/velocityS5.png
Labels: Sprint 6, documentation, hacktoberfest-accepted

#138 Estudo - GoF Estrutural 2
  docs/Project/EstudoDirigido.md
  docs/Project/Estudos/estrutural.md
  docs/Project/Estudos/estrutural1.md
  docs/Project/Estudos/estrutural2.md
  docs/assets/img/estudo/gof-estrutural1/bridge.png
  docs/assets/img/estudo/gof-estrutural1/decorator.png
  docs/assets/img/estudo/gof-estrutural1/facade.png
  docs/assets/img/estudo/gof-estrutural1/flyweight.png
  docs/assets/img/estudo/gof-estrutural1/proxy.png
Labels: documentation, hacktoberfest-accepted

#143 132 grasp evolucao
  docs/Project/Estudos/GRASP.md
Labels: Estudo, Padrões de Projeto, Sprint 6, hacktoberfest-accepted

#150 Evolução do GOF Comportamental
  docs/Project/Estudos/comportamental.md
  docs/assets/img/estudo/gof-comportamental/visitor.png
Labels: Evolução, Sprint 6, documentation, hacktoberfest-accepted

#153 #136- Adicao do decorator e criacao de lexicos
  docs/Modeling/DescricaoArquitetural.md
  docs/Modeling/Diagrams/EntidadeRelacionamento.md
  docs/Modeling/objeto.md
  docs/Project/ExemplificacaoPadroesDeProjeto.md
  docs/Sprints/planning/sprint6.md
Labels: documentation, hacktoberfest-accepted

#154 144 reuniao semanal
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/planning/sprint7.md
  docs/Sprints/results/sprint6.md
  docs/Sprints/results/sprint7.md
  docs/assets/img/Sprints/metricas/burndownS6.png
  docs/assets/img/Sprints/metricas/quadroS6.png
  docs/assets/img/Sprints/metricas/velocityS6.png
Labels: Sprint 7, documentation, hacktoberfest-accepted

#155 #129 - refactor activity diagram
  docs/Modeling/Diagrams/Atividades.md
  docs/assets/diagramas/atividade/Diagrama_atividade_PrazoValidade2.png
  docs/assets/diagramas/atividade/Diagrama_atividade_addColaboradores2.png
  docs/assets/diagramas/atividade/Diagrama_atividade_addProduto2.png
  docs/assets/diagramas/atividade/Diagrama_atividade_autenticacao2.png
  docs/assets/diagramas/atividade/Diagrama_atividade_feedback2.png
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_PrazoValidade2.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_addColaboradores2.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_addProduto2.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_autenticacao2.pdf
  docs/assets/pdf/diagramas/atividade/Diagrama_atividade_feedback2.pdf
Labels: enhancement, hacktoberfest-accepted

#157 Cadeia de Responsabilidade
  docs/Project/Estudos/comportamental.md
  docs/assets/img/estudo/gof-comportamental/cadeiaResponsabilidade.png
Labels: Estudo, Padrões de Projeto, Sprint 7

#165 158 reunião semanal
  docs/Index/sprintsIndex.md
  docs/Sprints/planning/sprint8.md
  docs/Sprints/results/sprint7.md
  docs/Sprints/results/sprint8.md
  docs/assets/img/Sprints/metricas/burndownS7.png
  docs/assets/img/Sprints/metricas/quadroS7.png
  docs/assets/img/Sprints/metricas/velocityS7.png
Labels: Sprint 8, documentation, hacktoberfest-accepted

#168 161 documentação Padrões
  docs/DesignPatterns/Adapter.md
  docs/DesignPatterns/ChainResponsibility.md
  docs/DesignPatterns/Decorator.md
  docs/DesignPatterns/Facade.md
  docs/DesignPatterns/FactoryMethod.md
  docs/DesignPatterns/GRASP.md
  docs/DesignPatterns/Iterator.md
  docs/DesignPatterns/Singleton.md
  docs/DesignPatterns/State.md
  docs/Index/modelingIndex.md
  docs/Index/projectIndex.md
  docs/Index/projectPatternsIndex.md
  docs/Project/EstudoDirigido.md
  docs/Project/Estudos/comportamental.md
  docs/Project/Estudos/criacional.md
  docs/Project/Estudos/estrutural.md
  docs/Project/ExemplificacaoPadroesDeProjeto.md
  docs/Sprints/planning/sprint6.md
  docs/Sprints/results/sprint6.md
  docs/_sidebar.md
  docs/assets/css/home.css
  docs/assets/img/estudo/gof-comportamental/iterator.png
  docs/assets/img/estudo/gof-criacional/singleton1.png
  docs/assets/padroes/chainResponsibility/acessLevelMiddleware.png
  docs/assets/padroes/chainResponsibility/auth.png
  docs/assets/padroes/chainResponsibility/categoryRouteMiddleware.png
  docs/assets/padroes/chainResponsibility/routes.png
  docs/assets/padroes/decorator/collaboratorBase.png
  docs/assets/padroes/decorator/decoratorBase.png
  docs/assets/padroes/decorator/lotBase.png
  docs/assets/padroes/decorator/productBase.png
  docs/assets/padroes/facade/belongsRouteFacade.png
  docs/assets/padroes/facade/categoryRouteFacade.png
  docs/assets/padroes/facade/collaboratorRouteFacade.png
  docs/assets/padroes/facade/lotRouteFacade.png
  docs/assets/padroes/facade/productRouteFacade.png
  docs/assets/padroes/facade/routeFacade.png
  docs/assets/padroes/factoryMethod/admin.png
  docs/assets/padroes/factoryMethod/collaborator.png
  docs/assets/padroes/factoryMethod/owner.png
  docs/assets/padroes/factoryMethod/seller.png
  docs/assets/padroes/grasp/collaboratorController.png
  docs/assets/padroes/grasp/collaboratorEspecialista.png
  docs/assets/padroes/grasp/collaboratorEspecialistaBase.png
  docs/assets/padroes/grasp/collaboratorRoutes.png
  docs/assets/padroes/iterator/belongsCreateIterator.png
  docs/assets/padroes/iterator/lotBasefindAllIterator.png
  docs/assets/padroes/iterator/productBaseUpdateIterator.png
  docs/assets/padroes/singleton/singleton.png
  docs/assets/padroes/state/authContextState.png
  docs/assets/padroes/state/indexProviderState.png
  docs/assets/padroes/state/setState.png
Labels: Padrões de Projeto, Sprint 8, documentation
